/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29/fev/2024, 10:46:57
    Author     : joana
*/

.raleway-<uniquifier > {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} /* <weight>: Use a value from 100 to 900 */
.sora-<uniquifier > {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.manrope-<uniquifier > {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} /*<weight>: Use a value from 200 to 800*/
.playfair-display-<uniquifier > {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} /*<weight>: Use a value from 400 to 900*/

body {
  font-family: "Raleway", sans-serif; /*Arial, sans-serif;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;
  margin: 300px;*/
  background-color: #303030;
}

.container {
  display: flex;
  width: 350px; /*400*/
  height: 650px; /*850*/
  margin-top: 20px;
  background-color: #f5f1e6; /*EEE2D2*/
  border-radius: 20px;
  border: 2px solid #F5F1E6; /* largura, estilo e cor da borda */
}

#box0 {
  position: absolute;
  background-color: #303030;
  width: 328px; /*350px*/
  margin-top: 230px;
  margin-left: 20px;
  border-radius: 20px 0 0 20px;
  border: 2px solid #F5F1E6; /* largura, estilo e cor da borda */
}

#box1 {
  position: relative;
  display: flex;
  width: 350px; /*400*/
  justify-content: space-between; /* Ensures space between the boxes */
  left: 0;
}

hr {
  border: 1px solid #303030; /* largura, estilo e cor da borda */
  /*border-top: 2px dashed #000; /* Define a linha traçada */
  /*border-bottom: 2px dashed #0075F5; /* Adiciona uma linha traçada adicional na parte inferior */
  /*margin: 0 0; /* Adiciona margem acima e abaixo da linha */
  margin-top: 35px;
  margin-left: 30px;
  width: 290px;
}

#tituloback {
  position: relative;
  top: 60px;
  left: -20px;
  background-color: #ccfe05;
  height: 36px;
  width: 120px;
  border-radius: 20px;
  transform: rotate(-90deg);
}
#titulo {
  text-align: center;
  padding-top: 0;
  font-size: 16px;
  color: #303030;
  font-weight: 800;
}

.textointro {
  position: relative;
  top: 20px;
  left: -35px;
  width: 250px;
  text-align: left;
}
#intro {
  font-size: 16px;
  font-weight: 800;
  color: #303030;
  text-transform: uppercase;
}
#instr {
  font-size: 14px;
  /*font-style: italic;*/
  font-weight: 500;
  color: #303030;
}

#box3 {
  position: absolute;
  width: 350px;
  margin-top: 170px;
  left: 75px;
  /*left: 50%;
  transform: translate(-50%, -50%);*/
  /*background-color: white;*/
}

/*CATEGORIA*/
.card {
  border: none;
}
#categorySelect {
  position: relative;
  width: 250px; /*width: 100%;*/
  height: 40px;
  background-color: #303030;
  padding: 5px; /*15px;*/
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  /*text-transform: uppercase;*/
  color: #f5f1e6;
  border: none; /*2px solid #0075F5; largura, estilo e cor da borda */
  cursor: pointer;
  box-shadow: none;
  border-radius: 20px;
}

#box2 {
  position: relative;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  height: 310px;
  margin: 0;
}
.scrollable-container {
  width: 330px;
  overflow: auto; /* Adiciona a barra de rolagem */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: ;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #f5f1e6 #303030; /* scroll thumb and track */
}
#randomPhrase {
  padding: 5px;
}

#box4 {
  position: relative;
  top: 280px;
}
#b4b {
  position: relative;
  bottom: 25px; 
  background-color: #303030;
}
#b4s {
  position: absolute;
  bottom: 10px;
  left: 150px;
}

/*FRASE GERADA*/
p#randomPhrase {
  position: absolute;
    witdh: 200px;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 600;
  color:  #F5F1E6; /*#F5F1E6;  #ccfe05*/
  text-align: left;
  top: 0;
  left: 25px;
  right: 10px;
  /*transform: translate(-70%, -50%);*/
}

/*GERAR*/
#generateButton {
  /*position: relative;*/
  width: 235px; /*180 200px 240*/
  height: 50px;
  margin-left: 45px; /*25px 60px;*/
  /*bottom: -80px;*/
  /*transform: translate (-50%);*/
  background-color: #303030;
  color: #F5F1E6;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #F5F1E6; /* largura, estilo e cor da borda */
  border-radius: 20px;
}
#generateButton:hover {
  background-color: #ccfe05;
  border: none;
  color: #303030;
  font-weight: 800;
}

/*BOTÃO POP UP*/
/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
}
/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centraliza verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* Botão para fechar o modal */
.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Estilo para o container */
/*.container {
  position: relative;
}*/
/* Estilo para o botão "Sobre" */
.botaoTexto {
  /*position: absolute;*/
  /*transform: rotate(-90deg);*/
  bottom: 0;
  /*right: 30px;*/
  padding: 0px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #303030;
  cursor: pointer;
}
.botaoTexto:hover {
  /*background-color: #0056b3; #009C6C*/
  color: #303030;
  font-weight: 800;
  text-decoration: underline;
}
