/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29/fev/2024, 10:46:57
    Author     : joana
*/

/* <uniquifier>: Use a unique and descriptive class name*/
.raleway-<uniquifier > {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} /* <weight>: Use a value from 100 to 900 */
.sora-<uniquifier > {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.manrope-<uniquifier > {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} /*<weight>: Use a value from 200 to 800*/
.playfair-display-<uniquifier > {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} /*<weight>: Use a value from 400 to 900*/

body {
  font-family: "Raleway", sans-serif; /*Arial, sans-serif;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;
  margin: 300px;*/
  background-color: #303030;
}

.container {
  display: flex;
  width: 350px; /*400*/
  height: 680px; /*650 850*/
  margin-top: 20px;
  background-color: #e1cbcd; /*EEE2D2*/
  border-radius: 20px;
  border: 2px solid #e1cbcd; /* largura, estilo e cor da borda */
}

#box0 {
  position: relative;
  background-color: #303030;
  width: 350px;
  margin-top: 240px;
  margin-left: 0;
  border-radius: 20px;
}

#box1 {
  position: absolute;
}

hr {
  border: 1px solid #303030; /* largura, estilo e cor da borda */
  /*border-top: 2px dashed #000; /* Define a linha traçada */
  /*border-bottom: 2px dashed #0075F5; /* Adiciona uma linha traçada adicional na parte inferior */
  /*margin: 0 0; /* Adiciona margem acima e abaixo da linha */
  margin-top: 25px;
  margin-left: 30px;
  width: 290px;
}

#tituloback {
  position: relative;
  top: 10px;
  left: 30px;
  background-color: #303030;
  height: 36px;
  width: 120px;
  border-radius: 20px;
}
#titulo {
  text-align: center;
  padding-top: 9px;
  font-size: 16px;
  color: #e1cbcd;
  /*transform: rotate(-90deg);*/
}

.textointro {
  position: relative;
  top: 5px;
  left: 30px;
  width: 250px;
  text-align: left;
    color: #f54e36; /*#303030;*/
}
#intro {
  font-size: 16px;
  font-weight: 800;
  /*color: #f54e36;*/
  text-transform: uppercase;
}
#instr {
  font-size: 14px;
  /*font-style: italic;*/
  font-weight: 500;
  /*color: #f54e36;*/
}

#box3 {
  position: absolute;
  width: 350px;
  margin-top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: white;*/
}

/*CATEGORIA*/
.card {
  border: none;
}
#categorySelect {
  position: relative;
  width: 350px; /*width: 100%;*/
  height: 40px;
  background-color: #f5746a; /*#f5746a; #f54e36;*/
  padding: 5px; /*15px;*/
  padding-left: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  /*text-transform: uppercase;*/
  color: #303030; /*#303030; #e1cbcd;*/
  border: none; /*2px dashed #0075F5; /* largura, estilo e cor da borda */
  cursor: pointer;
  box-shadow: none;
  /*border-radius: 20px;*/
}

#box2 {
}

#box4 {
  position: relative;
  top: 320px; /*290px;*/
  margin-left: 30px;
}
#b4b,
#b4s {
}
#b4s {
  margin-top: 15px;
}

/*FRASE GERADA*/
p#randomPhrase {
  position: absolute;
    font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 600;
  color: #e1cbcd;
  text-align: left;
  top: 40px;
  left: 30px;
  right: 15px;
  /*transform: translate(-70%, -50%);*/
}

/*GERAR*/
#generateButton {
  position: relative;
  width: 180px; /*200px*/
  height: 50px;
  margin-left: 0;
  bottom: 0;
  /*transform: translate (-50%);*/
  background-color: #303030;
  color: #e1cbcd;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #e1cbcd; /* largura, estilo e cor da borda */
  border-radius: 20px;
}
#generateButton:hover {
  background-color: #f54e36;
  border: none;
  color: #eee;
}

/*BOTÃO POP UP*/
/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
}
/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centraliza verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* Botão para fechar o modal */
.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Estilo para o container */
/*.container {
  position: relative;
}*/
/* Estilo para o botão "Sobre" */
.botaoTexto {
  /*position: absolute;*/
  /*transform: rotate(-90deg);*/
  bottom: 0;
  /*right: 30px;*/
  padding: 0px 0px;
  font-size: 16px;
  font-weight: 300;
  color: #e1cbcd;
  cursor: pointer;
}
.botaoTexto:hover {
  /*background-color: #0056b3; #009C6C*/
  color: #f54e36;
}

  /*background-color: #0056b3; #009C6C*/
  color: #f54e36;
}
